<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/dashboard.css" />
  <title>Admin Login Page</title>
</head>

<body>
  <nav class="nav">
    <div class="nav__contents">
      <section class="logo__container">
        <div class="logo__border">
          <img src="/assets/images/download-removebg-preview-1.png" alt="Logo" class="logo" />
        </div>
      </section>
      <section class="nav__navigation">
        <div class="nav__link_container">
          <button class="modal_toggler">Create Cert</button>
          <button>Exit</button>
        </div>
      </section>
    </div>
  </nav>
  <main class="main">
    <div class="table__nav"></div>
    <table class="table">
      <tbody>
        <tr>
          <th>S/N</th>
          <th>Matriculation Number</th>
          <th>Holder's Name</th>
          <th>School</th>
          <th>Graduation Year</th>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Nd2019/1010/001</td>
          <td>Paul Ezekiel-Hart</td>
          <td>School of applied sciences</td>
          <td>2007</td>
        </tr>
      </tbody>
    </table>
  </main>

  <div class="form modal hidden">
    <form action="">
      <div class="form__cont">
        <nav class="form__nav">
          <h1>Add Certificate</h1>
          <svg class="modal_toggler" style="cursor: pointer" width="50" height="50" viewBox="0 0 50 50" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M37.304 11.282L38.718 12.696L12.696 38.716L11.282 37.303L37.304 11.282Z" fill="black" />
            <path d="M12.696 11.282L38.718 37.302L37.304 38.717L11.282 12.697L12.696 11.282Z" fill="black" />
          </svg>
        </nav>
        <div class="form__content">
          <section class="form__row">
            <div class="form__col">
              <label>First Name</label>
              <input type="text" placeholder="Student's First Name" />
            </div>
            <div class="form__col">
              <label>First Name</label>
              <input type="text" placeholder="Student's Last Name" />
            </div>
          </section>
          <section class="form__row">
            <div class="form__col">
              <label>Middle Name</label>
              <input type="text" placeholder="Student's Middle Name" />
            </div>
            <div class="form__col">
              <label>Registration Number</label>
              <input type="text" placeholder="Student's Matriculation Number" />
            </div>
          </section>
          <section class="form__row">
            <div class="form__col">
              <label>School</label>
              <input type="text" placeholder="Student's School" list="schools" />
              <datalist id="schools">
                <option value="School of engineering technology"></option>
                <option value="School of applied sciences"></option>
                <option value="School of business studies & management technology"></option>
                <option value="School of general studies"></option>
              </datalist>
            </div>
            <div class="form__col">
              <label>Department</label>
              <input type="text" placeholder="Student's Department" />
            </div>
          </section>
          <section class="form__row single-rows">
            <div class="form__col">
              <label>Year Of Graduation</label>
              <span>
                <input type="year" placeholder="Student's Yar of Graduation" />

                <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M34.5332 12.3333L18.4999 29.6L2.46655 12.3333" stroke="black" stroke-linecap="square" />
                </svg>
              </span>
            </div>
          </section>
          <section class="form__row">
            <button class="image_pdf_selector">
              <svg width="91" height="70" viewBox="0 0 91 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M73.5164 28.2957C72.6014 14.0385 62.7486 0.290283 44.6778 0.290283C28.15 0.290283 15.4043 12.6521 14.7293 29.1495C5.68641 31.9807 0.749268 41.7183 0.749268 48.8059C0.749268 59.7187 9.76212 69.2903 20.035 69.2903H33.9636C34.2477 69.2903 34.5202 69.1767 34.7212 68.9745C34.9221 68.7723 35.035 68.4981 35.035 68.2122C35.035 67.9262 34.9221 67.652 34.7212 67.4498C34.5202 67.2476 34.2477 67.134 33.9636 67.134H20.035C10.9021 67.134 2.89212 58.5694 2.89212 48.8059C2.89212 42.2272 8.62212 30.4778 20.035 30.4778H23.2493C23.5334 30.4778 23.8059 30.3642 24.0069 30.162C24.2078 29.9598 24.3207 29.6856 24.3207 29.3997C24.3207 29.1137 24.2078 28.8395 24.0069 28.6373C23.8059 28.4351 23.5334 28.3215 23.2493 28.3215H20.035C18.9443 28.3215 17.9136 28.4444 16.9086 28.6213C17.7486 15.7053 27.505 2.44653 44.6778 2.44653C63.0807 2.44653 71.4636 16.9775 71.4636 30.4778V33.7122C71.4636 33.9981 71.5764 34.2723 71.7774 34.4745C71.9783 34.6767 72.2508 34.7903 72.535 34.7903C72.8191 34.7903 73.0917 34.6767 73.2926 34.4745C73.4935 34.2723 73.6064 33.9981 73.6064 33.7122V30.4584C80.0757 31.1721 88.6064 38.1583 88.6064 48.8059C88.6064 57.0557 80.6971 67.134 71.4636 67.134H55.3921C48.4536 67.134 45.7493 64.4128 45.7493 57.4309V27.8536L54.4878 36.6296C54.5865 36.7327 54.7046 36.815 54.8353 36.8716C54.9659 36.9283 55.1065 36.9583 55.2487 36.9597C55.391 36.9611 55.5321 36.9341 55.6638 36.88C55.7956 36.826 55.9153 36.7461 56.0161 36.6451C56.1168 36.544 56.1965 36.4237 56.2506 36.2913C56.3046 36.1589 56.3319 36.017 56.3309 35.8738C56.3299 35.7307 56.3005 35.5892 56.2446 35.4575C56.1886 35.3259 56.1072 35.2069 56.005 35.1073L46.4457 25.5076C45.1728 24.2311 44.185 24.2311 42.9143 25.5076L33.355 35.1073C33.1598 35.3106 33.0518 35.5829 33.0543 35.8656C33.0567 36.1483 33.1694 36.4187 33.368 36.6186C33.5667 36.8185 33.8354 36.9319 34.1163 36.9343C34.3973 36.9368 34.6679 36.8281 34.87 36.6317L43.6064 27.8536V57.4309C43.6064 65.6333 47.2407 69.2903 55.3921 69.2903H71.4636C81.85 69.2903 90.7493 58.026 90.7493 48.8059C90.7493 37.6646 81.7 28.9512 73.5164 28.2957Z"
                  fill="black" />
              </svg>
            </button>
          </section>
          <section>
            <input type="submit" value="Create" />
          </section>
        </div>
      </div>
    </form>
  </div>

  <script>
    const pdfSelectButton = document.querySelector(".image_pdf_selector");
    const modal = document.querySelector(".modal");

    pdfSelectButton.onclick = function (event) {
      document
        .querySelectorAll("form input[type='file']")
        .forEach((file) => file.remove());

      event.preventDefault();

      const file = document.createElement("input");
      file.type = "file";
      file.name = "pdf_file";
      file.style.display = "none";
      file.accept =
        "application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml";
      document.querySelector("form").appendChild(file);
      file.click();
    };

    pdfSelectButton.onchange = function (event) { };

    document.querySelectorAll(".modal_toggler").forEach((toggler) => {
      toggler.onclick = (event) => modal.classList.toggle("hidden");
    });
  </script>
</body>

</html>