<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>Admin Login Page</title>
</head>

<body>
    <nav class="nav">
        <div class="nav__contents">
            <section class="logo__container">
                <div class="logo__border">
                    <img src="/assets/images/download-removebg-preview-1.png" alt="Logo" class="logo">
                </div>
            </section>
            <section class="nav__navigation">
                <div class="nav__link_container">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Qualifications</a></li>
                    <li><a href="#">Achievements</a></li>
                </div>
            </section>
        </div>
    </nav>
    <main class="main">
        <dev class="main__container">
            <form action="">
                <div class="body__logo">
                    <div class="logo__border">
                        <img src="/assets/images/download-removebg-preview-1.png" alt="">
                    </div>
                    <h1>Admin Login</h1>
                </div>
                <input type="text" placeholder="Email">
                <input type="password" placeholder="password">
                <button>Login</button>
            </form>
        </dev>
    </main>
</body>

</html>