<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>Admin Login Page</title>
</head>

<body>
    <%- include("partials/nav") %>
        <main class="main">
            <dev class="main__container">
                <form action="/login" method="post">
                    <div class="body__logo">
                        <div class="logo__border">
                            <img src="/assets/images/download-removebg-preview-1.png" alt="">
                        </div>
                        <h1>Admin Login</h1>
                    </div>
                    <% console.log(body)%>
                        <input type="email" name="email" value="<%= body.email %>" placeholder="Email">
                        <input type="password" name="password" value="<%= body.password %>" placeholder="password">
                        <button>Login</button>

                        <div class="message_box">
                            <%= message %>
                        </div>
                </form>
            </dev>
        </main>
</body>

</html>