<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/preview.css" />
    <title>Document</title>
</head>

<body>
    <nav class="nav">
        <div class="nav__contents">
            <section class="logo__container">
                <div class="logo__border">
                    <img src="/assets/images/download-removebg-preview-1.png" alt="Logo" class="logo" />
                </div>
            </section>
            <section class="nav__navigation">
                <div class="nav__link_container">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Qualifications</a></li>
                    <li><a href="#">Achievements</a></li>
                </div>
            </section>
        </div>
    </nav>
    <main class="main">
        <dev class="main__container">
            <div class="info__table">
                <table>
                    <tr>
                        <td>ID:</td>
                        <td>Nd2019/1010/001</td>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td>Nd2019/1010/001</td>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td>Nd2019/1010/001</td>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td>Nd2019/1010/001</td>
                    </tr>
                </table>
            </div>
            <div class="preview__continer">
                <object allowfullscreen froameborder="0" javascript="allow" data="/assets/images/Resume.pdf"
                    type="application/pdf">
                    <embed src="/assets/images/Resume.pdg" type="application/pdf" fraomeborder="0" allowfullscreen>
                    <p>This browser does not support PDFs. Please download the PDF to view it</p>
                    </embed>
                </object>
            </div>
        </dev>
    </main>
</body>

</html>